.MenuItem {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 2px 2px 1px rgba(180, 180, 180, 0.75);
  overflow: hidden;
}

.MenuItem:last-child {
  margin-bottom: 0;
}

.Img-wrap {
  width: 120px;
  height: 90px;
  padding: 3px;
  border: 1px solid #777;
  border-radius: 3px;
  float: left;
}

.Img-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.Item-description {
  float: left;
  margin-left: 10px;
  text-align: left;
}

.Item-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Item-cost {
  font-size: 18px;
  font-style: italic;
}

.Item-control {
  padding: 20px 0;
  float: right;
}