.Cart {
  width: 39%;
  margin: 20px 0;
  padding: 20px 10px;
  float: right;
  border: 1px solid #777;
  border-radius: 5px;
}

.Total {
  overflow: hidden;
  margin-bottom: 20px;
}

.Border {
  display: block;
  clear: both;
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
}

.OrderControl {
  text-align: center;
}