.CheckoutItem {
  overflow: hidden;
}

.CheckoutItem-name {
  clear: left;
  float: left;
}

.CheckoutItem-value {
  float: right;
}

.CheckoutItem-cost {
  margin-left: 5px;
  float: right;
}

.CheckoutItem-sum {
  clear: right;
  float: right;
  text-align: right;
  border-top: 1px solid #777;
}