.CartItem {
  overflow: hidden;
}

.CartItem-name {
  clear: left;
  float: left;
}

.CartItem-value {
  float: right;
}

.CartItem-cost {
  margin-left: 5px;
  float: right;
}

.CartItem-remove {
  clear: left;
  float: left;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.CartItem-sum {
  clear: right;
  float: right;
  text-align: right;
  border-top: 1px solid #777;
}