.Checkout-summary {
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

.Form-block {
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
}

.Form-row {
  margin: 10px 0;
}

.Form-label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 10px;
}

.Form-input {
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.OrderControl {
  margin-bottom: 20px;
}

.OrderControl-Btn {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.OrderControl-Btn.okBtn {
  color: green;
}

.OrderControl-Btn.dangerBtn {
  color: red;
}